#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
  }

.form-group {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
};

h3{
    color: #FD2D01;
}

.article{
    word-wrap: break-word;
    padding: 3% 20%;
    
}
.post{
    background-color: #F2F2F2;
    border: 1px solid red;
    border-radius: 20px;
}

.margin{
    margin: 20px;
}

.post-image{
    height: 340px;
}

